# Solar and Lunar Eclipses
By: Dana Oira Toribio

(Source: [https://www.kaggle.com/nasa/solar-eclipses](https://www.kaggle.com/nasa/solar-eclipses))
## Context 

Eclipses of the sun can only occur when the moon is near one of its two orbital nodes during the new moon phase. It is then possible for the Moon's penumbral, umbral, or antumbral shadows to sweep across Earth's surface thereby producing an eclipse. There are four types of solar eclipses: a partial eclipse, during which the moon's penumbral shadow traverses Earth and umbral and antumbral shadows completely miss Earth; an annular eclipse, during which the moon's antumbral shadow traverses Earth but does not completely cover the sun; a total eclipse, during which the moon's umbral shadow traverses Earth and completely covers the sun; and a hybrid eclipse, during which the moon's umbral and antumbral shadows traverse Earth and annular and total eclipses are visible in different locations. Earth will experience 11898 solar eclipses during the five millennium period -1999 to +3000 (2000 BCE to 3000 CE).

Eclipses of the moon can occur when the moon is near one of its two orbital nodes during the full moon phase. It is then possible for the moon to pass through Earth's penumbral or umbral shadows thereby producing an eclipse. There are three types of lunar eclipses: a penumbral eclipse, during which the moon traverses Earth's penumbral shadow but misses its umbral shadow; a partial eclipse, during which the moon traverses Earth's penumbral and umbral shadows; and a total eclipse, during which the moon traverses Earth's penumbral and umbral shadows and passes completely into Earth's umbra. Earth will experience 12064 lunar eclipses during the five millennium period -1999 to +3000 (2000 BCE to 3000 CE).


## Acknowledgements

Lunar eclipse predictions were produced by Fred Espenak from NASA's Goddard Space Flight Center.

---

## Data Exploration

In [13]:
# Imports
import pandas as pd

# Variable declarations
solar_file = 'data/solar.csv'
lunar_file = 'data/lunar.csv'

# Read data
solar = pd.read_csv(solar_file)
lunar = pd.read_csv(lunar_file)

### Solar Data

In [16]:
# Get column headers
solar.columns.values

array(['Catalog Number', 'Calendar Date', 'Eclipse Time', 'Delta T (s)',
       'Lunation Number', 'Saros Number', 'Eclipse Type', 'Gamma',
       'Eclipse Magnitude', 'Latitude', 'Longitude', 'Sun Altitude',
       'Sun Azimuth', 'Path Width (km)', 'Central Duration'], dtype=object)

In [17]:
# Get statistics per header
solar.describe()

,Catalog Number,Delta T (s),Lunation Number,Saros Number,Gamma,Eclipse Magnitude,Sun Altitude,Sun Azimuth
count,11898.000000,11898.000000,11898.000000,11898.000000,11898.000000,11898.000000,11898.000000,11898.000000
mean,5949.500000,12142.172802,-18546.959321,87.483190,-0.002469,0.812748,36.505295,180.264330
std,3434.801086,13583.402888,17906.572982,48.380284,0.900860,0.300398,32.417350,110.745408
min,1.000000,-6.000000,-49456.000000,-13.000000,-1.569000,0.000000,0.000000,0.000000
25%,2975.250000,970.250000,-33954.750000,47.000000,-0.786575,0.675925,0.000000,89.000000
50%,5949.500000,5636.500000,-18495.000000,87.000000,-0.003850,0.950600,38.000000,180.000000
75%,8923.750000,20943.500000,-3039.250000,128.000000,0.776900,1.018400,66.000000,272.000000
max,11898.000000,46438.000000,12378.000000,190.000000,1.570600,1.081300,90.000000,360.000000

In [20]:
# Head data
solar.head()

,Catalog Number,Calendar Date,Eclipse Time,Delta T (s),Lunation Number,Saros Number,Eclipse Type,Gamma,Eclipse Magnitude,Latitude,Longitude,Sun Altitude,Sun Azimuth,Path Width (km),Central Duration
0,1,-1999 June 12,03:14:51,46438,-49456,5,T,-0.2701,1.0733,6.0N,33.3W,74,344,247,06m37s
1,2,-1999 December 5,23:45:23,46426,-49450,10,A,-0.2317,0.9382,32.9S,10.8E,76,21,236,06m44s
2,3,-1998 June 1,18:09:16,46415,-49444,15,T,0.4994,1.0284,46.2N,83.4E,60,151,111,02m15s
3,4,-1998 November 25,05:57:03,46403,-49438,20,A,-0.9045,0.9806,67.8S,143.8W,25,74,162,01m14s
4,5,-1997 April 22,13:19:56,46393,-49433,-13,P,-1.4670,0.1611,60.6S,106.4W,0,281,NaN,NaN

### Lunar Data

In [18]:
# Get column headers
lunar.columns.values

array(['Catalog Number', 'Calendar Date', 'Eclipse Time', 'Delta T (s)',
       'Lunation Number', 'Saros Number', 'Eclipse Type',
       'Quincena Solar Eclipse', 'Gamma', 'Penumbral Magnitude',
       'Umbral Magnitude', 'Latitude', 'Longitude',
       'Penumbral Eclipse Duration (m)', 'Partial Eclipse Duration (m)',
       'Total Eclipse Duration (m)'], dtype=object)

In [19]:
# Get statistics per header
lunar.describe()

,Catalog Number,Delta T (s),Lunation Number,Saros Number,Gamma,Penumbral Magnitude,Umbral Magnitude,Penumbral Eclipse Duration (m)
count,12064.000000,12064.000000,12064.000000,12064.000000,12064.000000,12064.000000,12064.000000,12064.000000
mean,6032.500000,12116.476044,-18531.392822,80.505056,0.002490,1.418656,0.400175,269.971941
std,3482.721158,13584.785584,17887.218741,48.416007,0.910505,0.832263,0.832954,79.945444
min,1.000000,-6.000000,-49456.000000,-20.000000,-1.582700,0.000400,-1.095800,5.200000
25%,3016.750000,962.000000,-33923.250000,40.000000,-0.788825,0.684425,-0.334000,223.100000
50%,6032.500000,5597.000000,-18445.500000,80.000000,0.001750,1.417450,0.400450,295.000000
75%,9048.250000,20901.500000,-3067.750000,121.000000,0.791725,2.136900,1.117925,327.800000
max,12064.000000,46437.000000,12378.000000,183.000000,1.579100,2.908900,1.882100,379.500000

In [21]:
# Head data
lunar.head()

,Catalog Number,Calendar Date,Eclipse Time,Delta T (s),Lunation Number,Saros Number,Eclipse Type,Quincena Solar Eclipse,Gamma,Penumbral Magnitude,Umbral Magnitude,Latitude,Longitude,Penumbral Eclipse Duration (m),Partial Eclipse Duration (m),Total Eclipse Duration (m)
0,1,-1999 June 26,14:13:28,46437,-49456,17,N,t-,-1.0981,0.8791,-0.1922,24S,22W,268.8,-,-
1,2,-1999 November 21,20:23:49,46427,-49451,-16,N,-a,-1.1155,0.8143,-0.1921,15N,98W,233.4,-,-
2,3,-1998 May 17,05:47:36,46416,-49445,-11,P,-t,0.8988,1.2105,0.2069,13S,89E,281.7,102.7,-
3,4,-1998 November 11,05:15:58,46404,-49439,-6,P,-a,-0.4644,2.0382,0.9740,12N,113E,343.4,200.8,-
4,5,-1997 May 6,18:57:01,46392,-49433,-1,T+,pp,0.1003,2.6513,1.6963,11S,92W,322.8,213.5,98.2

___

## Domain Knowledge

![Solar and Lunar Eclipse](img/lunar-vs-solar-eclipse.jpg)

Source: [http://www2.chilton.k12.wi.us/sromekg/lunar%20solar%20eclipse.jpg](http://www2.chilton.k12.wi.us/sromekg/lunar%20solar%20eclipse.jpg)

### Definitions

|Name|Description|Data Type|
|----|-----------|---------|
|Catalog Number||Numeric|
|Calendar Date||String|
|Eclipse Time||String|
|Delta T (s)||Numeric|
|Lunation Number||Numeric|
|Saros Number||Numeric|
|Eclipse Type||Numeric|
|Quincena Solar Eclipse||String|
|Gamma||Numeric|
|Penumbral Magnitude|The Umbral Magnitude is the fraction on the Moon's diameter immersed in the umbra at maximum eclipse. For values greater than 1.0, it is a total eclipse. For negative values, it is a penumbral eclipse.|Numeric|
|Umbral Magnitude||Numeric|
|Latitude||String|
|Longitude||String|
|Penumbral Eclipse Duration (m)||Numeric|
|Partial Eclipse Duration (m)||Numeric|
|Total Eclipse Duration (m)||Numeric|

## Software Planning

### Requirements Gathering

- The program shall be an interactive web application
- The program shall be responsive
- The program shall be best used in landscape mode
- The program shall be scrollable horizontally
- The program shall be usable on desktop and mobile devices
- The program shall scroll horizontally and update time
- The program shall show the changing solar and lunar eclipses
- The program shall have a mini timeline scroller below the eclipse visualization

### Design

- Interactive world map
- Solar eclipse graphic
- Lunar eclipse graphic
- Timeline toggle
- Colors
    - Map continents: Light grey
    - Ocean: White
    - Solar eclipse: Light blue w/ black circle overlapping (like a halo)
    - Lunar eclipse: Orange
    - Penumbra: Dark gray
    
### Calculations

- Eclipse location
    - Latitude
    - Longitude
- Eclipse diameter
    - Fixed or Equal to size of Umbra?
- Penumbra diameter
- Distance of moon to Earth?